<h1>
New Chat
</h1>
<%= form_tag rooms_path, :method => 'get' do %>
<%= label_tag(:search, "") %>
<p>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag "Send" %>
</p><br>
<% end %>

<% if @suggestions.present? %>
	<%= @suggestions %>
<% end %>